{
  "extends": "planet",
  "env": {
    "es6": false
  },
  "globals": {
    "Promise": false
  },
  "rules": {
    "no-multiple-empty-lines": [2, {"max": 1}],
    "valid-jsdoc": [2, {
      "requireReturn": false
    }]
  }
}
