sudo: false
language: node_js
node_js:
- '6'
cache:
  directories:
  - node_modules
after_success: npm run coverage
branches:
  only:
  - master
addons:
  sauce_connect: true
env:
  global:
  - secure: D0UUHA2FMXoWfdqIgTvdqKpcEoDwiI2UNGmW3VueXC136dSy6BQ9IlGky5OOlZ1gili0P14D2CWVIItvuFZ/gZOaiNSXQRaU5hh8pOy1sVe78wP5CP23CHn0gdk94u1d4I0NXQMPfY7nIlJHTUJYWeq9bwBQXq12q45c5LACQUkcbVNOKK5h6pVaQBwTBtXok2dgnot9bDhHc1nT7klI4ZuLLksqjLJEldskmyVrf/lA+SJ2PFL92ob0Bl7Vimf0w8QL5mFVZqpRBLQmdAFnPO/Mnum0TCFe2yms5UtabRcP5GWv+d/zqlWUe8voXKSXyelHq1fh+84zDmaiWhZjKZJW4vhPaj6xRyAIXQDfj2cyVqu681X1SoPCRvvO1Tf221a2j/Aj8kcMjUMJ24OUE+j7Y4NCVRrBGp6UliSTnMvmJRI/HfpbIzpZtYHYbd81P9e+4LCFu2XFvGUJqB/uQxONwPHKtLtzLQvPSQk91QQKDbCFdr3fL6ke4qpfgzk38G+qpm0EwFoQt0Rum25pK5r05pj3hQD8upQVe3HXXaSNwDCk0bV0NUJNCarAOtm+ZEMZ4Y6ue+6qNQ08lhd+XBus5JjZu7K2Zmxv6gM0wklYiuRRgLPrA9VmeS4ynpXmLTeacXLqdB4Vel6A1GhrLf2Wz+JxrBNvVjfqVq3cgJQ=
  - secure: ANJCRBiIfPih/Cj+0fpnAKZlJTATnTZyu6eHWR10S5h5/RFzi6kG6+yRy2U2MKYEeWXhW7hAnnG4XLU6IqYmOA3VA83jEIQchf/us8RtCfcUxKII/vwwWmcbmI+CeFFana5il40gexYwN0kVUs/QijIjV4ZWJnO7EUSQGrxehvmWxQQ4qOia8hYDQ/kMLMB3d96wTKHdXwC4FsuTqpFa4kq9m559V+J/1dNq+pWV2yRgielL2RMTAUH8ugTw5nqToxCyC/SypiGplDB4/TCxr+iar9eKOWwlnAcyIyPccEyUo8ECInimUsYptlgsM6J3AsCaHyyDLrubmTCSCQdJG0JQ9JQvtRvaOnwfzdJMWNcM83tRhK7tBVqq5TQivlwbpie6T4u8gSU0OCftZ9IlQcdFhdOaLx6EyAvGSmpJLKfzfhr9E5t0HrpNybrTY4TmrXqoAD2ZnFHfaHWh0cvucxB2DXmlF+w1zk/I1vOoONdw9E8mEswwnoR9dsNUBLV4EMZM3wyY3vLTSfYqJ5wiSw2qW1PfEnaK5dKSVWuBMt2SkiWGYwtT9mbiadzMKTt548aWp1UhBhodwMj56vSQDbo14lJnjHGg/kNl43zWARDpTpIOlQE1fpMcU4BJOet1cy0zo1L+OD+bMkIVceknB1+AeYAZk6QQfrJzFlsQ8Sw=
